.item_count {
  font-size: 20px;
  padding-bottom: 0px;
}

.day_name {
  padding-top:0px;
  font-size: 10px;
}

.center {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
   
  display: -moz-box;
  -moz-box-align: center;
  -moz-box-pack: center;
   
  display: -ms-flexbox;
  -ms-flex-align: center;
  -ms-flex-pack: center;
   
  display: box;
  box-align: center;
  box-pack: center;
}