/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

#forecast .title {
  color: salmon;
  padding-left: 12px;
}

#forecast .badge {
  background-color: salmon;
}

#inbox .title {
  color: slategrey;
  padding-left: 12px;
}

#inbox .badge {
  background-color: slategrey;
}

#flagged .title {
  color: orange;
  padding-left: 12px;
}

#flagged .badge {
  background-color: orange;
}

#flagged .icon {
}
#projects .title {
  color: CornflowerBlue;
}

#projects .icon {
  color: CornflowerBlue;
}

#nearby .title {
  color: limegreen;
}

#nearby .badge {
  background-color: limegreen;
}

#nearby .icon {
  color: limegreen;
}

#contexts .title {
  color: mediumpurple;
}

#contexts .icon {
  color: mediumpurple;
}

#perspectives .title {
  color: turquoise;
}

#perspectives .icon {
  color: turquoise;
}
.badge {
  position: initial !important;
  display: inline !important;
  width: 30px;
}

.title {
  font-size: 24px;
}

.day {
  font-size: 10px;
}

.center {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
   
  display: -moz-box;
  -moz-box-align: center;
  -moz-box-pack: center;
   
  display: -ms-flexbox;
  -ms-flex-align: center;
  -ms-flex-pack: center;
   
  display: box;
  box-align: center;
  box-pack: center;
}