#forecast {
  color: salmon;
}

#inbox {
  color: slategrey;
}

#flagged {
  color: orange;
}

#projects {
  color: CornflowerBlue;
}

#nearby {
  color: limegreen;
}

#contexts {
  color: mediumpurple;
}

#perspectives {
  color: turquoise;
}