<ion-view title="Omnifocus">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    <h1 class="title"></h1>
    <button class="button button-icon icon ion-plus"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="list">
      <a href="#" class="item" id="forecast">
        <span class="badge badge-calm">2</span>
        <span class="title">Forecast</span>
        <span class="row">
          <div class="col" ng-repeat="day in forecast">
            <span class="row center">{{day.items}}</span>
            <span class="row day center">{{day.name}}</span>
        </span>
        </div>
      </a>
      <a href="#" class="item" id="inbox">
        <span class="badge badge-calm">2</span>
        <span class="title">Inbox</span>
      </a>
      <a href="#" class="item" id="flagged">
        <span class="badge badge-calm">2</span>
        <span class="title">Flagged</span>
      </a>
      <a href="#" class="item item-icon-left" id="projects">
        <span class="row">
          <i class="icon ion-folder"></i>
          <span class="title">Projects</span>
        </span>
      </a>
      <a href="#" class="item item-icon-left" id="nearby">
        <span class="row">
          <i class="icon ion-ios7-navigate"></i>
          <span class="title">Nearby</span>
        </span>
      </a>
      <a href="#" class="item item-icon-left" id="contexts">
        <span class="row">
          <i class="icon ion-at"></i>
          <span class="title">Contexts</span>
        </span>
      </a>
      <a href="#" class="item item-icon-left" id="perspectives">
        <span class="row">
          <i class="icon ion-ios7-glasses"></i>
          <span class="title">Perspectives</span>
        </span>
      </a>
    </div>
  </ion-content>
</ion-view>
